{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<h1>{{cart}}</h1>

<main>
  <div class="basket">
    
    <div class="basket-labels">
      <ul>
        <li class="item item-heading">Item</li>
        <li class="price">Price</li>
        <li class="quantity">Quantity</li>
        <li class="subtotal">Subtotal</li>
      </ul>
    </div>
    {% for product_entry in products %}
    {% with product=product_entry.0 quantity=product_entry.1 subtotal=product_entry.2 %}
    <div class="basket-product">
      <div class="item">
        <div class="product-image">
          <img src="{{ product.image_url }}" alt="Placeholder Image" class="product-frame">
        </div>
        <div class="product-details">
          <h1>{{ product.title }}</h1>
          <p><strong>Net Wgt: {{ product.qty }} {{ product.unit }}</strong></p>
        </div>
      </div>
      <div class="price">{{ product.price }}</div>
      <div class="quantity">
        <input style="text-align: center;" type="number" value="{{ quantity }}" class="quantity-field" readonly>
      </div>
      <div class="subtotal">{{subtotal}}</div>
      <form method="post" action="/cart/" class="remove">
        {% csrf_token %}
        <input type="hidden" value="{{ product.id }}" name="product_id">
        <button type="submit">Remove</button>
      </form>
    </div>
    {% endwith %}
    {% endfor %}
    
    
   
  </div>
  <aside>
    <div class="summary">
      <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
      <div class="summary-subtotal">
        <div class="subtotal-title">Total</div>
        <div class="subtotal-value final-value" id="basket-subtotal">{{total}}</div>
      </div>
      <div class="summary-delivery">
        <select name="delivery-collection" class="summary-delivery-selection">
          <option value="0" selected="selected">Cash on Delivery</option>
          <!-- <option value="collection">Collection</option>
          <option value="first-class">Royal Mail 1st Class</option>
          <option value="second-class">Royal Mail 2nd Class</option>
          <option value="signed-for">Royal Mail Special Delivery</option> -->
        </select>
      </div>
      <div class="summary-total">
        <div class="total-title">Total</div>
        <div class="total-value final-value" id="basket-total">{{total}}</div>
      </div>
      {% if total > 499 %}
      <div class="summary-checkout">
        {% if customer %}
          {% if customer.address %}
          <form method="post">
          {% csrf_token %}
        <button class="checkout-cta">Purchase Order</button>
      </form>
          {% else %}
          <p style="color: red;">Address Not Found </p>
          <a href="/account#address" class="al checkout-cta">Update Accout</a>
          {% endif %}
        {% else %}
        <a href="/signin" class="al checkout-cta">Login</a>
        {% endif %}

      </div>
      {% else %}
      <p>order is less then 499</p>
      {% endif %}
    </div>
  </aside>
</main>


<link rel="stylesheet" href="{% static 'js/cart.js' %}">
    
    {% endblock %}