{% extends 'base.html' %}
{% block content %}
<div class="data">

  <div style="width: 100%;  background-color: #d6cdbd;  border-radius: 20px;" class="classbbanner">

    <div style="display: flex; align-items: center;" class="row">
      <div style="padding: 20px; ;" class="col-lg-9">
        <div>
          <h1 style=" text-align: right; font-weight: 500; line-height: 1.2;">Your One-Stop Shop for Every <span style="color: #ffa500;"> Grocries </span> Needs!</h1>
        </div>
      </div>
      <div style=" padding: 20px;" class="col-lg-3">
        <div>
          <img style="border-radius: 20px;" width="100%" src="../static/images/banner/bimage.png" alt="">
        </div>
      </div>
    </div>

  </div>



  <div class="col-lg-4">
    <div class="dropdown">
      <button style="background-color: #ffa500; color: aliceblue;" class="btn btn dropdown-toggle active mt-2 mb-2"
        type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Category
      </button>
      <ul style="width: 100%; height: 400px; overflow: scroll;" class="dropdown-menu">
        <div class="list-group mt-2">
          <a href="/#store" class="list-group-item list-group-item-action active" aria-current="true">
            All Products
          </a>
          {% for i in category %}
          <a style="text-transform: lowercase;;" href="/?category={{i.id}}#store" class="list-group-item list-group-item-action">{{i.name}}</a>

          {% endfor %}

        </div>
      </ul>
    </div>






  </div>


  <!-- store -->
  <div id="store" class="store">
    <h4 class="heading">Store:</h4>

    <div class="product-container">

      {% for i in product %}

      <div class="product-card">
        <img src="{{i.image_url}}" alt="Product Name" class="product-image">
        <h3 class="product-name">{{i.title}}</h3>
        <p class="product-description">{{i.description|truncatewords:10}}</p>
        <div class="product-price">₹ {{i.price}} /{{i.qty}}{{i.unit}}</div>
        <a style="text-decoration: none; color: white;" href="/product/{{i.id}}" class="add-to-cart-button">View</a>
      </div>

    

      {% endfor %}












    </div>
    <div class="pagination" style="width: 100%; display: flex;     justify-content: space-between; margin-top: 20px;">
      {% if product.has_previous %}
          <a style="color: #ffa500;" href="?page={{ product.previous_page_number }}" class="pagination-arrow">&laquo; Previous</a>
      {% endif %}
      <span class="current-page"><h5> Page {{ product.number }} of {{ product.paginator.num_pages }}</h5></span>
      {% if product.has_next %}
          <a style="color: #ffa500;" href="?page={{ product.next_page_number }}" class="pagination-arrow">Next &raquo;</a>
      {% endif %}
  </div>

  </div>
</div>

{% endblock %}