{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static  'css/order.css' %}">   

{% if order or deleivered %}
  <div class="container mt-3 mt-md-5">
    <h2 class="text-charcoal hidden-sm-down"> {{customer.first_name}} Orders</h2>
    {% if order %}
    <h5 class="text-charcoal hidden-md-up">Orders in process</h5>
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="list-group mb-5">
          {% if order %}
          <div class="list-group-item p-3 bg-snow" style="position: relative;">
            <div class="row w-100 no-gutters">
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Order Number</h6>
                <b class="text-pebble mb-0 w-100 mb-2 mb-md-0">#{{Orderplacedid}}</b>
              </div>
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Date</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{date}}</p>  
              </div>
              <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Total</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">₹ {{total}}</p> 
              </div>
              <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Shipped To</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{address}}</p> 
              </div>
          
            </div>
            
          </div>
          {% endif %}
          {% if order %}
          <div class="list-group-item p-3 bg-white">
            <div class="col-12 col-md-12 pr-0 pr-md-3">
              <div class="alert p-2 alert-success w-100 mb-0">
                <h6 class="text-green mb-0"><b>Shipped</b></h6>
                <p class="text-green hidden-sm-down mb-0">Est. delivery on {{date}}</p>
              </div>
            </div>
            
            {% for i in order %}
            <div class="row no-gutters">
             
 
              <div class="row no-gutters mt-3">
                <div class="col-3 col-md-1">
                  <img class="img-fluid pr-3" src="https://tanga2.imgix.net/https%3A%2F%2Fs3.amazonaws.com%2Ftanga-images%2Ffc79d08c12dc.jpeg?ixlib=rails-2.1.1&fit=crop&w=500&h=500&auto=format%2Ccompress&cs=srgb&s=c9a50d474788f2658d13b21aa62edd6c" alt="">
                </div>
                <div class="col-9 col-md-8 pr-0 pr-md-3">
                  <h6 class="text-charcoal mb-2 mb-md-1">
                    <a href="/product/{{i.product_id}}" class="text-charcoal">{{i.product_name}}</a>
                  </h6>
                  <ul class="list-unstyled text-pebble mb-2 small">
                    <li class="">
                      <b>Quantity:</b> {{i.quantity}}
                    </li>
                  </ul>
                  <h6 class="text-charcoal text-left mb-0 mb-md-2"><b>₹ {{i.product_sub_price}}</b></h6>
                </div>
                <div class="col-12 col-md-3 hidden-sm-down">
                  <b style="cursor:default;" href="" class="btn btn-warning w-100"> Order Placed <i class='bx bxs-box'  ></i></b>
                </div>
              </div>
      
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <br>

          {% if deleivered %}
          <h5 class="text-charcoal hidden-md-up">Orders On the way</h5>

          <div class="list-group-item p-3 bg-white">
           
            
            {% for i in deleivered %}
            <div class="row no-gutters">
             
 
              <div class="row no-gutters mt-3">
                <div class="col-3 col-md-1">
                  <img class="img-fluid pr-3" src="https://tanga2.imgix.net/https%3A%2F%2Fs3.amazonaws.com%2Ftanga-images%2Ffc79d08c12dc.jpeg?ixlib=rails-2.1.1&fit=crop&w=500&h=500&auto=format%2Ccompress&cs=srgb&s=c9a50d474788f2658d13b21aa62edd6c" alt="">
                </div>
                <div class="col-9 col-md-8 pr-0 pr-md-3">
                  <h6 class="text-charcoal mb-2 mb-md-1">
                    <a href="/product/{{i.product_id}}" class="text-charcoal">{{i.product_name}}</a>
                  </h6>
                  <ul class="list-unstyled text-pebble mb-2 small">
                    <li class="">
                      <b>Quantity:</b> {{i.quantity}}
                    </li>
                    <li class="">
                      <b>Order date:</b> {{i.my_date}}
                    </li>
                  </ul>
                  <h6 class="text-charcoal text-left mb-0 mb-md-2"><b>₹ {{i.product_sub_price}}</b></h6>
                </div>
                <div class="col-12 col-md-3 hidden-sm-down">
                  <b style="cursor:default;" class="btn btn-success w-100"> On the way <i class='bx bxs-truck' style='color:#fffbfb'  ></i></b>
                </div>
              </div>
      
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      

    </div>
 



  </div>
  {% else %}
  <br>
  <br>
  <h1 style="text-align: center;" class="mt-6"><i class='bx bxs-sad' style='color:#2f2f2f' ></i> No Order Yet</h1>
{% endif %}


 
  

    
{% endblock %}