{% extends 'base.html' %}
{% block content %}
    <div class="data">

 <h3 style="text-align: center;">Privacy Policy</h3>

<h4>Effective Date: [20 May 2024]</h4>

<h4>Introduction </h4>

<p>Jewaji Adamji & Co. ("we," "our," or "us") is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website jewajiadamji.com, use our services, or interact with us in other ways. Please read this policy carefully to understand our views and practices regarding your personal data and how we will treat it.
</p>
<h4>1. Information We Collect </h4>

We may collect and process the following data about you:
<br><br>
<h5>a. Personal Information </h5>
<ul>
<li>Name</li>
<li>Email address</li>
<li>Phone number</li>
<li>Address</li>
<li>Payment information</li>
</ul>

<h5 class="mt-4">b. Usage Data</h5>
<ul>
<li>Details of your visits to our website and the resources that you access.</li>
</ul>


<h4 class="mt-5">2. How We Use Your Information</h4>

We use the information we collect in the following ways:
<ul>
<li> To provide and maintain our services.</li>
<li> To notify you about changes to our services.</li>
<li> To allow you to participate in interactive features of our services when you choose to do so.</li>
<li> To provide customer support.</li>
<li> To gather analysis or valuable information so that we can improve our services.</li>
<li> To monitor the usage of our services.
<li> To detect, prevent, and address technical issues.</li>
<li>To fulfill any other purpose for which you provide it.</li>
<li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us.</li>
</ul>

<h4 class="mt-5">3. Disclosure of Your Information</h4>


We may disclose personal information that we collect, or you provide:
<ul>
<li>To our subsidiaries and affiliates.</li>
<li>To contractors, service providers, and other third parties we use to support our business.</li>
<li>To fulfill the purpose for which you provide it.</li>
<li>For any other purpose disclosed by us when you provide the information.</li>
<li> With your consent in any other cases.</li>
<li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements; or to protect the rights, property, or safety of Jewaji Adamji & Co., our customers, or others.</li>

</ul>
<h4 class="mt-5">4. Data Security</h4>

We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. However, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal data, we cannot guarantee the security of your personal data transmitted to our website; any transmission is at your own risk.

<h4 class="mt-5">5. Your Data Protection Rights</h4>

Depending on your location, you may have the following rights regarding your personal data:

<ul>
<li> The right to access – You have the right to request copies of your personal data.</li>
<li>  The right to rectification – You have the right to request that we correct any information you believe is inaccurate or complete information you believe is incomplete.</li>
    <li>  The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
        <li>  The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
<li>  The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
    <li> The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>

</ul>

<h4 class="mt-5">6. Service Area</h4>
Our current services are only provided in Udaipur, Rajasthan 313001. 


<h4 class="mt-5">7. Changes to This Privacy Policy</h4>

We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.

<h4 class="mt-5">8. Contact Us</h4>

If you have any questions about this Privacy Policy, please contact us:

<ul>
<li> By email: jewajiadmaji@gmail.com
<li>By visiting this page on our website:jewajiadamji&co.</li>
<li>By phone number: +91 9001298588</li>
<li>By mail: 17 Tel Bazar, Dhan Mandi Udaipur Rajasthan </li>
</ul>

    </div>
    {% endblock %}