{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container my-5">

    <div class="card details-card p-0">
        <div class="productper row">

            <div class="col-md-6 col-sm-12">
                <img class="img-fluid details-img" src="{{product.image_url}}" alt="">
            </div>
            <div class="col-md-6 col-sm-12 description-container p-5">
                <div class="main-description">
                    <p class="product-category mb-0">{{product.category}}</p>
                    <h3>{{product.title}}</h3>
                    <hr>
                    <p class="product-price">₹ {{product.price}} /{{product.qty}}{{product.unit}}</p>
                    <form class="add-inputs" method="post">
                        {% csrf_token %}
                        <div class="quantity-controls">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="changeQuantity(-1)">-</button>
                            <input type="number" class="form-control" id="cart_quantity" name="cart_quantity" value="1" min="1" max="10">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="changeQuantity(1)">+</button>
                        </div>
                        <input type="text" name="product_id" value="{{ product.id }}" hidden>
                        <button name="add_to_cart" type="submit" class="btn btn-primary btn-lg">Add to cart</button>
                    </form>
                 
                 




                    <div style="clear:both"></div>

                    <hr>


                    <p class="product-title mt-4 mb-1">About this product</p>
                    <p class="product-description mb-4">
                        {{product.description}}
                    </p>

                    <!-- <hr> -->

                    <!-- <p class="product-title mt-4 mb-1">Share this product</p>
                    <ul class="social-list">
                        <li><a href="#"><i class="fa-brands fa-facebook"></a></i></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></a></i></li>
                        <li><a href="#"><i class="fa-brands fa-square-instagram"></a></i></li>

                    </ul> -->






                </div>




            </div>
        </div>
        <!-- End row -->
    </div>

    <div id="store" class="store mt-4">
        <h4 class="heading">Similar product:</h4>
      
        <div class="product-container">
      
       {% for i in similar_category %}

            {% if i.id != product.id %}
      
          <div class="product-card">
            <img src="{{i.image_url}}" alt="Product Name" class="product-image">
            <h3 class="product-name">{{i.title}}</h3>
            <p class="product-description">{{i.description|truncatewords:10}}</p>
            <div class="product-price">₹ {{i.price}} /{{i.qty}}{{i.unit}}</div>
            <a style="text-decoration: none; color: white;" href="/product/{{i.id}}" class="add-to-cart-button">View</a>
          </div>
          {% endif %}
      
        {% endfor %}
            
            
            
            
      
            
            
            
            
            
            
            
          </div>
      
      </div>
    <script>
        function changeQuantity(delta) {
            var input = document.getElementById('cart_quantity');
            var currentValue = parseInt(input.value);
            var newValue = currentValue + delta;
    
            if (newValue >= 1 && newValue <= 10) {
                input.value = newValue;
            }
        }
    </script>

    <script>
        $(document).ready(function() {
    $('#btn').click(function() {
        $('#btn').toggleClass("cart_clk");

    });
    $("#btn").one("click", function() {
        $('.cart .fa').attr('data-before', '1');
    });

    var prnum = $('.num').text();
    $('.inc').click(function() {
        if (prnum > 0) {
            prnum++;
            $('.num').text(prnum);
            $('.cart .fa').attr('data-before', prnum);
        }

    });
    $('.dec').click(function() {
        if (prnum > 1) {
            prnum--;
            $('.num').text(prnum);
            $('.cart .fa').attr('data-before', prnum);
        }

    });

});
    </script>

{% endblock %}