{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container my-5">

    <div class="card details-card p-0">
        <div class="productper row">

            <div class="col-md-6 col-sm-12">
                <img class="img-fluid details-img" src="{{product.image_url}}" alt="">
            </div>
            <div class="col-md-6 col-sm-12 description-container p-5">
                <div class="main-description">
                    <p class="product-category mb-0">{{product.category}}</p>
                    <h3>{{product.title}}</h3>
                    <hr>
                    <p class="product-price">₹ {{product.price}} /{{product.qty}}{{product.unit}}</p>
                    <form class="add-inputs" method="post">
                        {% csrf_token %}
                        <div class="quantity-controls">
                            <br><br>
                            <h6>Select Quantity:</h6>
                            {% if product.add_decimal %}
                            <div style="display:flex;">
                            <button type="button" class="btn btn-danger btn-sm" onclick="changeQuantity(-0.5)">-</button>
                            <input required type="number" class="form-control mx-2" id="cart_quantity" readonly name="cart_quantity" value="1" min="0.5" max="10" step="0.5">
                            <button type="button" class="btn btn-success btn-sm" onclick="changeQuantity(0.5)">+</button>
                            </div>
                            {% else %}
                            <div style="display:flex;">
                            <button type="button" class="btn btn-danger btn-sm mx-2" onclick="changeQuantity(-1)">-</button>
                            <input required type="number" class="form-control" id="cart_quantity" readonly name="cart_quantity" value="1" min="1" max="10" step="1">
                            <button type="button" class="btn btn-success btn-sm" onclick="changeQuantity(1)">+</button>
                            </div>
                            {% endif %}
                            
                        </div>
                        <input type="text" name="product_id" value="{{ product.id }}" hidden>
                        <br><br>
                        <button name="add_to_cart" type="submit" class="btn btn-primary btn-lg">Add to cart</button>
                    </form>
                 
                 




                    <div style="clear:both"></div>

                    <hr>


                    <p class="product-title mt-4 mb-1">About this product</p>
                    <p class="product-description mb-4">
                        {{product.description}}
                    </p>

                    <!-- <hr> -->

                    <!-- <p class="product-title mt-4 mb-1">Share this product</p>
                    <ul class="social-list">
                        <li><a href="#"><i class="fa-brands fa-facebook"></a></i></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></a></i></li>
                        <li><a href="#"><i class="fa-brands fa-square-instagram"></a></i></li>

                    </ul> -->






                </div>




            </div>
        </div>
        <!-- End row -->
    </div>

    <div id="store" class="store mt-4">
        <h4 class="heading">Similar product:</h4>
      
        <div class="product-container">
      
       {% for i in similar_category %}

            {% if i.id != product.id %}

          <a style="text-decoration: none; color: black;" href="/product/{{i.id}}">
          <div class="product-card">
            <img src="{{i.image_url}}" alt="Product Name" class="product-image">
            <h3 class="product-name">{{i.title}}</h3>
            <p class="product-description">{{i.description|truncatewords:10}}</p>
            <div class="product-price">₹ {{i.price}} /{{i.qty}}{{i.unit}}</div>
          </div>
        </a>
          {% endif %}
      
        {% endfor %}
            
            
            
            
      
            
            
            
            
            
            
            
          </div>
      
      </div>
    <script>
        function changeQuantity(delta) {
            var input = document.getElementById('cart_quantity');
            var currentValue = parseFloat(input.value);
            var newValue = currentValue + delta;
    
            if (newValue >= 1 && newValue <= 10) {
                input.value = newValue;
            }
        }
    </script>

   

{% endblock %}