{% extends 'base.html' %}
{% block content %}
<style>
  .container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: #f7c973 0px 30px 30px -20px;
    margin: 20px;
  }

  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #ffa500;
  }

  .form {
    margin-top: 20px;
  }

  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #f6ce85 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }

  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }

  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }

  .form .input:focus {
    outline: none;
    border-inline: 2px solid #ffa500;
  }

  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .form .forgot-password a {
    font-size: 11px;
    color: #ffa500;
    text-decoration: none;
  }

  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, #c2881c 0%, #ffa500 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: #f7c973 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }

  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: #f7c973 0px 23px 10px -20px;
  }

  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: #f7c973 0px 15px 10px -10px;
  }

  .social-account-container {
    margin-top: 25px;
  }

  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
  }

  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }

  .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
  }

  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }

  .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
  }

  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }

  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  .agreement a {
    text-decoration: none;
    color: #ffa500;
    font-size: 9px;
  }

  .tooltip-container {
    position: relative;
    
}

  .tooltip {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position the tooltip above the input */
    left: 50%;
    margin-left: -110px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
</style>
<div style="display: flex; width: 100%; justify-content: center;" class="data">
  <div class="container">
    <div class="heading">Sign Up</div>
    <form action="" method="post" class="form">
      {% if messages %}
      {% for message in messages %}
      <p style="text-align: center; color: red;">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% csrf_token %}
      <input required="" class="input" type="email" name="email" id="email" value="{{ email }}" placeholder="E-mail">
      <div class="tooltip-container">
        <input style="width: 100%;" required="" class="input" type="password" name="password" id="password" placeholder="Password">
        <div class="tooltip">
          <ul>
            <li>At least 6 characters</li>
            <li>Contains uppercase and lowercase letters</li>
            <li>Includes numbers</li>
          </ul>
        </div>
      </div>
      <input required="" class="input" type="password" name="password1" id="password" placeholder="confirm Password">
      <input required="" class="input" type="text" name="first_name" id="password" value="{{ first_name }}"
        placeholder="First Name">
      <input required="" class="input" type="text" name="last_name" id="password" value="{{ last_name }}"
        placeholder="Last Name">
      <input required="" class="input" type="text" name="mobile_number" id="password" value="{{ mobile_number }}"
        placeholder="Phone Number">

      <input class="login-button" type="submit" value="Sign Up">

    </form>

    <span class="agreement"><a href="#">Learn user licence agreement</a></span>
  </div>
</div>
{% endblock %}