{% extends 'base.html' %}
{% block content %}
    <div class="data">
        <h1 style="text-align: center;">Terms and Conditions</h1>
    <p><strong>Last updated: [20 May 2024]</strong></p>
    <p>Welcome to JewajiAdamji & Co. These terms and conditions outline the rules and regulations for the use of our website, located at jewajiadamji.com.</p>
    <p>By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use JewajiAdamji & Co.'s website if you do not accept all of the terms and conditions stated on this page.</p>

    <h2>1. Terminology</h2>
    <p>Client, You, and Your refer to you, the person accessing this website and accepting the Company’s terms and conditions.</p>
    <p>The Company, Ourselves, We, Our, and Us, refer to our Company, JewajiAdamji & Co.</p>
    <p>Party, Parties, or Us, refers to both the Client and ourselves.</p>

    <h2>2. Use of the Website</h2>
    <p>By accessing the website, you warrant and represent to the Company that you are legally entitled to do so and to make use of information made available via the website.</p>
    <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.</p>

    <h2>3. Intellectual Property Rights</h2>
    <p>Unless otherwise stated, JewajiAdamji & Co. and/or its licensors own the intellectual property rights published on this website and materials used on JewajiAdamji & Co. All these intellectual property rights are reserved.</p>
    <p>You may view, download for caching purposes only, and print pages, files, or other content from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

    <h2>4. Restrictions</h2>
    <p>You are expressly and emphatically restricted from all of the following:</p>
    <ul>
        <li>Publishing any website material in any media.</li>
        <li>Selling, sublicensing, and/or otherwise commercializing any website material.</li>
        <li>Publicly performing and/or showing any website material.</li>
        <li>Using this website in any way that is, or may be, damaging to this website.</li>
        <li>Using this website in any way that impacts user access to this website.</li>
        <li>Using this website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the website, or to any person or business entity.</li>
        <li>Engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this website.</li>
        <li>Using this website to engage in any advertising or marketing.</li>
    </ul>

    <h2>5. User Content</h2>
    <p>In these terms and conditions, “Your Content” shall mean any audio, video text, images, or other material you choose to display on this website. By displaying Your Content, you grant JewajiAdamji & Co. a non-exclusive, worldwide, irrevocable, sub-licensable license to use, reproduce, adapt, publish, translate, and distribute it in any and all media.</p>
    <p>Your Content must be your own and must not be infringing on any third party’s rights. JewajiAdamji & Co. reserves the right to remove any of Your Content from this website at any time, and for any reason, without notice.</p>

    <h2>6. No Warranties</h2>
    <p>This website is provided “as is,” with all faults, and JewajiAdamji & Co. makes no express or implied representations or warranties, of any kind related to this website or the materials contained on this website. Additionally, nothing contained on this website shall be construed as providing consult or advice to you.</p>

    <h2>7. Limitation of Liability</h2>
    <p>In no event shall JewajiAdamji & Co., nor any of its officers, directors, and employees, be liable to you for anything arising out of or in any way connected with your use of this website, whether such liability is under contract, tort, or otherwise, and JewajiAdamji & Co., including its officers, directors, and employees, shall not be liable for any indirect, consequential, or special liability arising out of or in any way related to your use of this website.</p>

    <h2>8. Indemnification</h2>
    <p>You hereby indemnify to the fullest extent JewajiAdamji & Co. from and against any and all liabilities, costs, demands, causes of action, damages, and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these terms.</p>

    <h2>9. Severability</h2>
    <p>If any provision of these terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>

    <h2>10. Variation of Terms</h2>
    <p>JewajiAdamji & Co. is permitted to revise these terms at any time as it sees fit, and by using this website you are expected to review these terms on a regular basis to ensure you understand all terms and conditions governing the use of this website.</p>

    <h2>11. Assignment</h2>
    <p>JewajiAdamji & Co. shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these terms.</p>

    <h2>12. Entire Agreement</h2>
    <p>These terms, including any legal notices and disclaimers contained on this website, constitute the entire agreement between JewajiAdamji & Co. and you in relation to your use of this website, and supersede all prior agreements and understandings with respect to the same.</p>

    <h2>13. Governing Law & Jurisdiction</h2>
    <p>These terms will be governed by and construed in accordance with the laws of Udaipur Rajasthan, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Udaipur Rajasthan for the resolution of any disputes.</p>

    <h2>14. Pricing</h2>
    <p>All prices are subject to change and may vary according to different companies.</p>
    <hr>
    <p>If you have any questions or concerns about these terms, please contact us at +91 9001298588.</p>

    

    </div>
    
    {% endblock %}